@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

body{
    background-image: url("./images/fondoindex.png");
    background-repeat: repeat;
    font-family: 'Rubik', sans-serif;
}

.titulopanel{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.7676820728291316) 0%, rgba(255,255,255,0.7480742296918768) 100%);
  
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    color: white;
  }
  
  h2 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 50px;
  }
  
  select, input {
    margin-bottom: 25px;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    border: 0;
    border-radius: 2%;
    
  }
  
  span {
    display: inline-block;
    width: 150px;
    
  }
  
  #form-box {
    padding-top: 20px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7676820728291316) 0%, rgba(255,255,255,0.7480742296918768) 100%);
    
  }
  
  .button {
    font-family: 'Rubik', sans-serif;
    background-color: #e85d04;
    position: relative;
    top: 0;
    padding: 20px;
    text-align: center;
    line-height: 24px;
    width: 200px;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
    font-size: large;
  }

  .button:hover{
    background: #565655
  }

  #logokd{
    display: flex;
    align-items: center;
    justify-content: center;
  }
