@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
    display: inline-block;
    padding: 1px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7676820728291316) 0%, rgba(255,255,255,0.7480742296918768) 100%);
    position: relative;
    width: 100%;
    
}

body{
    background-image: url(./images/fondoindex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    display: block;
}

.logokd{
    width: 200px;
    position: absolute;
    left: 40px;
    top: 17px;
    
}

#eslogan{
    width: 25%; /* ancho, se usa porcentaje para que sea relativo con cualquier tamano de pantalla*/
    position:relative;
    height: 100%;
    padding:100px;
    left: 0px;
    font-family: 'Rubik', sans-serif;
    color:aliceblue ;
    font-size: 100px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row::after,::before{
    box-sizing: border-box;
}

div{
    display: block;
}

a{
    font-size:medium
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    padding: 25px 25px;
    margin: 25px;
    margin-left: 70%;
    color: aliceblue;
    text-decoration: none;
}

a:link, :visited{
    text-decoration: none;
    color: #e85d04;
}

a:hover{
    color: #6d6a75;
}

.crumb {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    
}

.crumb a::after {
    display: inline-block;
    color: aliceblue;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
    color: aliceblue;
    text-decoration: none;
}


.contenido2{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    border-radius: 8px;
}

.imgpost{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.contenido3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #e85d04;
    margin-top: 25px;
    font-family: 'Rubik', sans-serif;
}

.contenido3 h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido3 p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 50px;
}

.textnosotros{
    font-size: x-large;
}

#vision{
    color: black;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7676820728291316) 0%, rgba(255,255,255,0.7480742296918768) 100%);
}

#mision{
    color: black;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7676820728291316) 0%, rgba(255,255,255,0.7480742296918768) 100%);
}

#mvtext{
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    margin-top: 0;
}

.misiontext{
    font-size: large;
    text-align:justify;
    border-right-style: ridge;
    text-align: center;
}
.visiontext{
    font-size: large;
    text-align:justify;
    border-left-style: ridge;
    text-align: center;
}

.acercade {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: black;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7676820728291316) 0%, rgba(255,255,255,0.7480742296918768) 100%);
    font-size: large;
    font-family: 'Rubik', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
}

.textacercade{
    padding-top: 1%;
    padding-bottom: 1%;
}

#contact{
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7676820728291316) 0%, rgba(255,255,255,0.7480742296918768) 100%);
}

.sobrenosotros{
    font-family: 'Rubik', sans-serif;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7676820728291316) 0%, rgba(255,255,255,0.7480742296918768) 100%);
}

.imginfo{
    border-radius: 4%;
    padding-bottom: 2%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

footer{
    background: #fff;
    text-align: right;
}


@media (max-width:500px) {
.footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
}