@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/FONDO-DESENFOCADO.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#imgintro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{

    width: 200px;
}

#cuadro-bienvenida{
    position: relative;
}


a {
    display: flex;
    justify-content:center;
    background: #e85d04;
    padding: 25px 10px 25px 10px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: aliceblue;  
    font-size: large;
}

a:hover {
    background: #e85d04;
}

#texto-1{
    background: #e85d04;
    padding: 5%;
    text-align: center;
    margin-top: 10%;
}

.textos{
    color: aliceblue;  
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
}
